.hide-nav {
    display: none;
    z-index: -100;
}

.game,
.display-auction-close,
.display-auction-info {
    top: 0;
    position: fixed;
    width: min(100%, 90rem);
    z-index: 10;
    height: 100dvh;
    background-image: var(--bg-white-30);
}

.sale__game {
    padding: var(--sp-s);
    padding-bottom: 0;
    height: 100%;
    width: 100%;
}

.show-desktop {
    display: none;
}

/*btn's */
.btn-smartphone {
    color: var(--color-white);
    text-align: center;
    font-family: var(--serif);
    font-size: var(--fs-1);
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    align-items: end;
    justify-items: center;
}

.start-btn,
.auction-btn {
    background-color: transparent;
    padding: 0;
}

.btn-smartphone p,
.btn-smartphone img, .btn-smartphone picture {
    grid-column: 1;
    grid-row: 1;
}

.btn-smartphone p {
    z-index: 1;
    margin-bottom: var(--sp-s);
}

.btn-smartphone img, .btn-smartphone picture{
    max-width: 75%;
    max-height: 8rem;
}

.close-btn,
.close-btn--overlay,
.close-end-btn {
    background-image: var(--bg-orange-50);
    background-size: cover;
    box-shadow: var(--shadow-s);
    padding: 1rem;
}

.info-btn {
    padding: 1rem;
}

.confirm-btn,
.again-btn {
    background-image: var(--bg-blue-15);
    background-size: cover;
    box-shadow: var(--shadow-s);
    padding: 1rem;
}

/*------------------ intro ------------------*/
.display-intro-auction .sale__game {
    display: grid;
    grid-template-columns: 1fr 5rem;
    grid-template-rows: 5rem 1fr max-content;
    height: 100%;
}

.intro-auction__description,
.display-auction-end .end__title {
    text-align: center;
    font-family: var(--serif);
    font-size: var(--fs-1);
    font-weight: 700;
    line-height: 110%;

    grid-row: 2;
    grid-column: 1 / 3;
    justify-self: center;
    align-self: center;
}


.display-intro-auction .close-btn {
    grid-row: 1;
    grid-column: 2;
}

.display-intro-auction .start-btn {
    grid-row: 3;
    grid-column: 1 / 3;
}

/*------------------ overlay-close ------------------*/
.display-auction-close,
.display-auction-info {
    background-image: none;
    height: 100%;
    z-index: 15;
}

.display-auction-close .sale__game,
.display-auction-info .sale__game {
    display: grid;
    grid-template-rows: auto min-content 3.5rem auto;
    height: 100%;

    padding: 0;
    padding: var(--sp-s);
    align-content: center;
    gap: 0;
}

.display-auction-close p,
.display-auction-info p {
    padding: var(--sp-s);
    padding-bottom: calc(var(--sp-s) + 1.5rem);
    background-color: var(--color-white);
    box-shadow: var(--shadow-s);
    border-radius: var(--rrrr-s);

    text-align: center;
    grid-row: 2;
}

.display-auction-close div,
.display-auction-info div {
    grid-row: 3;
    height: 3.5rem;
    justify-self: center;

    display: flex;
    gap: var(--sp-s);

    margin-top: -1.5rem;
}

.display-auction-close button,
.display-auction-info button {
    padding: 0;
    margin: 0;
}

.display-auction-close button img,
.display-auction-info button img, .display-auction-close button picture,
.display-auction-info button picture {
    width: 3.5rem;
    height: auto;
}

/*------------------ aankopen ------------------*/
.aankopen {
    background-image: var(--bg-white-75);
    box-shadow: var(--shadow-s);
    padding: 1rem 0;
    display: grid;
    grid-template-columns: min-content 1fr;
}

.aankopen__title {
    color: var(--color-white);
    text-align: center;
    font-family: var(--serif);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;

    background-color: var(--color-purple);
    padding: var(--sp-2xs);

    writing-mode: vertical-rl;
    transform: scale(-1);

    border-radius: var(--rnrn);
    box-shadow: var(--shadow-s);
}



.aankopen__list {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: var(--sp-xs);
    margin: 0 var(--sp-s);
    overflow: scroll;


}

.aankoop__item {
    padding: var(--sp-2xs);
    background-image: var(--bg-white-20);
    background-size: cover;
    background-position: bottom left;
    border-radius: var(--rrrr-s);
    box-shadow: var(--shadow-s);
    width: 8rem;

}

.aankoop__price {
    display: none;
}

/*------------------ auction ------------------*/
.display-auction {
    padding: 0;
    height: 100dvh;
}

.display-auction .sale__game {
    display: grid;
    grid-template-rows: 1rem 5rem min-content 1fr max-content;
    grid-template-columns: 1fr 5rem calc(5rem + var(--sp-s));
    column-gap: var(--sp-s);

    height: 100dvh;
    padding: 0;
}

.display-auction .close-btn {
    grid-row: 2;
    grid-column: 3;

    margin-right: var(--sp-s);
}

.display-auction .info-btn {
    grid-row: 2;
    grid-column: 2;
    background-image: var(--bg-blue-15);
    box-shadow: var(--shadow-s);
}

.display-auction .auction-btn {
    grid-row: 5;
    grid-column: 1 / 4;
    padding: 0 var(--sp-s);
}

.container__aankopen {
    grid-row: 3;
    grid-column: 1 / 4;
    padding: var(--sp-s) 0;
}

.article {
    grid-row: 4;
    grid-column: 1 / 4;
}

.total-money {
    grid-row: 2;
    grid-column: 1;

    background-image: var(--bg-blue-15);
    background-size: cover;

    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 1rem;
    box-shadow: var(--shadow-s);
    border-radius: var(--nrnr);

    align-items: center;
    gap: var(--sp-s);
    padding: 1rem;

    justify-self: start
}

.total-money__icon {
    width: 2rem;
    height: auto;
}

.total-money__content {
    font-family: var(--serif);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bidding-hands {
    /* position: relative; */
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    justify-self: left;
}

.user-hand,
.computer-hand {
    position: absolute;
}

.board {
    position: relative;
    background-color: var(--color-white);
    box-shadow: var(--shadow-s);
    padding: 0.5rem 1rem;
    border-radius: var(--rrrr-s);

    font-family: var(--serif);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    z-index: 1;
}

.board--user {
    background-color: var(--color-orange);
    color: var(--color-white);
}

.user-hand {
    bottom: 10rem;
    right: 1rem;
    transform: rotate(-10deg);
}

.board::before {
    content: '';
    background-image: url('/src/assets/hand-board.png');
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;

    width: 6rem;
    height: 20rem;

    left: -1.1rem;
    top: 4.8rem;

    z-index: -1;
}

.user-hand .board::before {
    transform: scaleX(-1);
    left: 1.8rem;
}

.computer-hand-1 {
    bottom: 8rem;
    left: 1rem;
    transform: rotate(10deg);
}

.computer-hand-2 {
    bottom: 16rem;
    left: 9rem;

    writing-mode: vertical-rl;
    transform: rotate(70deg) scale(-1);
}

.computer-hand-2 .board::before {
    transform: scale(-1);
    left: 1rem;
    top: -20rem;
}

.computer-hand-3 {
    bottom: 23rem;
    left: 8rem;

    writing-mode: vertical-rl;
    transform: rotate(90deg) scale(-1);
}

.computer-hand-3 .board::before {
    transform: scale(-1);
    left: 1rem;
    top: -20rem;
}

.articles__list {
    grid-column: 1 / 4;
    grid-row: 4;
}

.article {
    display: grid;
    grid-template-columns: 1fr min-content min-content 1fr;
    grid-template-rows: min-content min-content 1fr;
    margin: 0 var(--sp-s);

    justify-self: center;
    align-self: center;

    justify-items: center;
    align-items: center;

    column-gap: var(--sp-s);
    row-gap: var(--sp-2xs);

    height: 100%;
}

.article__title {
    grid-column: 2;

    font-family: var(--serif);
    font-size: var(--fs-4);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    line-height: 100%;
    align-self: end;
}

.article__price {
    grid-column: 1 / 5;
    white-space: nowrap;

    font-family: var(--serif);
    font-size: var(--fs-2);
    font-style: italic;
    font-weight: 700;
    line-height: 100%;
}

.article__price span {
    color: var(--color-orange);
}

.article__img {
    grid-column: 1 / 5;
    grid-row: 3;
    width: min(100%, 30dvh);
    object-fit: contain;
}

.article__number {
    grid-row: 1;
    grid-column: 3;
    white-space: nowrap;
    align-self: end;

    font-family: "Garamond Premier Pro";
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.progressBar {
    grid-column: 1 / 4;
    grid-row: 1;
}

/*------------------ auction End ------------------*/
.display-auction-end .sale__game {
    display: grid;
    grid-template-columns: 1fr 5rem;
    grid-template-rows: 5rem 1fr min-content min-content 3rem 1fr;
    height: 100dvh;
    padding: var(--sp-s);
    row-gap: var(--sp-m);
}

.display-auction-end .close-btn {
    grid-column: 2;
}

.display-auction-end .end__content {
    grid-column: 1 / 3;
    grid-row: 3;

    justify-self: center;
}

.display-auction-end .end__subtitle {
    padding-top: var(--sp-2xs);
    grid-column: 1 / 3;
    grid-row: 3;
    justify-self: center;
}

.display-auction-end .container {
    grid-column: 1 / 3;
    grid-row: 4;
    border-radius: var(--rrrr-s);
}

.display-auction-end .container .aankopen {
    border-radius: var(--rrrr-s);
}

.display-auction-end .buttons {
    grid-column: 1 / 3;
    grid-row: 5;
    justify-self: center;

    display: grid;
    grid-template-columns: 3rem 3rem;
    grid-template-rows: 3rem;

    column-gap: var(--sp-s);
}

.display-auction-end .again-btn,
.display-auction-end .close-end-btn {
    padding: 0;
}

@media (min-width: 35rem) {
    .display-auction .sale__game {
        grid-template-columns: 5rem 5rem 1fr min-content;
        grid-template-rows: 1rem 5rem 1fr max-content;
        padding-left: var(--sp-s);

        column-gap: var(--sp-s);
    }

    .display-auction .close-btn {
        grid-column: 1;
        margin-right: 0;
    }

    .display-auction .info-btn {
        grid-column: 2;
    }

    .total-money {
        grid-row: 2;
        grid-column: 4;
    }


    .display-auction .auction-btn {
        grid-row: 5;
        grid-column: 1 / 4;
        padding: 0 var(--sp-s);
    }


    .display-auction .container__aankopen {
        grid-row: 3 / 5;
        grid-column: 4;
        padding-top: var(--sp-s);
        border-radius: var(--rnrn);
    }

    .display-auction .articles__list {
        grid-row: 3 / 5;
        grid-column: 1 / 4;
        padding: var(--sp-s);
    }

    .article__img {
        width: min(100%, 50dvh);
    }

    .display-auction .aankopen__title {
        writing-mode: horizontal-tb;
        transform: scale(1);
        justify-self: center;
        border-radius: var(--nnrr);
    }

    .display-auction .aankopen {
        grid-template-rows: min-content 1fr;
        grid-template-columns: auto;
        align-self: stretch;
        justify-self: stretch;

        gap: 0;
        padding-top: 0;
        border-radius: var(--rnrn);
    }

    .display-auction .aankopen__list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content);
        margin: 0;
        gap: 0;
        justify-items: center;
    }

    .display-auction .aankoop__item {
        margin-top: var(--sp-s);
    }

    .bidding-hands {
        grid-column: 1;
    }
}

/* .display-auction .sale__game {
    display: grid;
    grid-template-rows: 1rem 5rem min-content 1fr max-content;
    grid-template-columns: 1fr 5rem calc(5rem + var(--sp-s));
    column-gap: var(--sp-s);
} */



/* ------------------ show correct things ------------------*/
.hidden {
    display: none;
}

/* .start-auction .display-start-auction */

.intro-auction .display-intro-auction,
.auction-auction .display-auction,
.end-auction .display-auction-end {
    display: block;
    width: 100%;
    height: 100%;
}