.new-start {
    display: grid;
    grid-template-rows: max-content;
    align-items: center;
}

.contract__container.left {
    display: none;
    /* margin-top: -10rem; */
}

.bible-img {
    width: min(80%, 70vh);
}

.bible {
    padding: var(--sp-l);
}

.join-company {
    padding: var(--sp-l) var(--sp-l);
}

.paper-border.green .text.hebrew-bible,
.paper-border.green .text.new-company {
    background-image: none;
}

.has-js .new-start {
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    justify-items: top;
}

.has-js .join-company,
.has-js .contract__container.left,
.has-js .text__new-company,
.has-js .contract-right,
.has-js .container-left
 {
    grid-row: 1;
    grid-column: 1;
}

/* .has-js .join-company,
.has-js .hebrew-bible,
.has-js .contract__container.left,
.has-js .text__new-company,
.has-js .contract-right,
.has-js .container-left,
.has-js .bible {
    grid-row: 1;
    grid-column: 1;
} */

.has-js .contract-right {
    z-index: 100;
}

.has-js .text.new-company {
    z-index: -100;
}

@media (min-width: 61rem) {
    .contract__container.left {
        display: grid;
    }

    .new-start,
    .has-js .new-start {
        grid-template-columns: 40% 60%;
    }

    .new-company,
    .hebrew-bible {
        align-self: center;
    }

    .new-company {
        grid-column: 1;
        grid-row: 1;
    }

    .text__new-company {
        padding-right: 0;
    }

    .join-company {
        grid-row: 2;
        grid-column: 2;

        padding: var(--sp-l) var(--sp-l);
        padding-bottom: 0;
    }

    .hebrew-bible,
    .has-js .hebrew-bible {
        grid-column: 1;
    }

    .contract__container.left {
        grid-row: 2;
        grid-column: 1;
    }

    .has-js .new-start {
        grid-template-rows: 100vh;
        height: 100vh;
    }

    .has-js .contract-right {
        grid-column: 2;
    }

    .has-js .join-company,
    .has-js .hebrew-bible,
    .has-js .contract__container.left,
    .has-js .text .new-company,
    .has-js .contract-right,
    .has-js .container-left,
    .has-js .bible {
        grid-row: 1;
    }

    .has-js .join-company,
    .has-js .contract__container.left,
    .has-js .text .new-company,
    .has-js .contract-right,
    .has-js .container-left,
    .has-js .bible {
        grid-column: 1;
    }

    .has-js .join-company,
    .has-js .hebrew-bible,
    .has-js .contract-right {
        grid-column: 2;
    }
}