:root {
  /*-- colors --*/
  --color-purple: #5C47A0;
  --color-black: #162113;
  --color-green: #294023;
  --color-orange: #E73D00;
  --color-purple-light: #C8B8F7;
  --color-blue: #DDF6E6;
  --color-white: #FFFEF7;

  --blue-hover: #E9F9EC;
  --orange-hover: #EF8156;
  --purple-hover: #9587BE;
  --green-white-hover: #D4D8CD;

  /*--bg textures--*/
  --bg-green-30: url("/src/assets/bg-green-30.png");
  --bg-green-100: url("/src/assets/bg-green-100.png");
  --bg-orange-50: url("/src/assets/bg-orange-50.png");
  --bg-orange-100: url("/src/assets/bg-orange-100.png");
  --bg-purple-30: url("/src/assets/bg-purple-30.png");
  --bg-purple-100: url("/src/assets/bg-purple-100.png");
  --bg-white-20: url("/src/assets/bg-white-20.png");
  --bg-white-30: url("/src/assets/bg-white-30.png");
  --bg-white-75: url("/src/assets/bg-white-75.png");
  --bg-white-100: url("/src/assets/bg-white-100.png");
  --bg-blue-15: url("/src/assets/bg-blue-15.png");
  --bg-blue-100: url("/src/assets/bg-blue-100.png");

  --bg-border-orange: url("/src/assets/border-orange.svg");
  --bg-border-green: url("/src/assets/border-green.svg");
  --bg-border-purple: url("/src/assets/border-purple.svg");
  --bg-border-white: url("/src/assets/border-white.svg");
  --bg-border-white-dark: url("/src/assets/border-white-dark.svg");

  /*--font-size--*/
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1440,24,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --fs--2: clamp(0.7901rem, 0.7747rem + 0.0772vw, 0.8442rem);
  --fs--1: clamp(0.8889rem, 0.8213rem + 0.3377vw, 1.1253rem);
  --fs-0: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  --fs-1: clamp(1.125rem, 0.8751rem + 1.2493vw, 1.9995rem);
  --fs-2: clamp(1.2656rem, 0.8657rem + 1.9996vw, 2.6653rem);
  --fs-3: clamp(1.4238rem, 0.8155rem + 3.0415vw, 3.5529rem);
  --fs-4: clamp(1.6018rem, 0.7063rem + 4.4774vw, 4.736rem);
  --fs-5: clamp(1.802rem, 0.5132rem + 6.4444vw, 6.3131rem);
  --fs-6: clamp(4rem, 2.8571rem + 5.7143vw, 8rem);

  /*--margins--*/
  --sp-3xs: clamp(0.25rem, 0.1786rem + 0.3571vw, 0.5rem);
  --sp-2xs: clamp(0.5rem, 0.3571rem + 0.7143vw, 1rem);
  --sp-xs: clamp(0.75rem, 0.5357rem + 1.0714vw, 1.5rem);
  --sp-s: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
  --sp-m: clamp(1.5rem, 1.0714rem + 2.1429vw, 3rem);
  --sp-l: clamp(2rem, 1.4286rem + 2.8571vw, 4rem);
  --sp-xl: clamp(3rem, 2.1429rem + 4.2857vw, 6rem);
  --sp-2xl: clamp(4rem, 2.8571rem + 5.7143vw, 8rem);
  --sp-3xl: clamp(6rem, 4.2857rem + 8.5714vw, 12rem);

  /*One-up pairs*/
  --sp-3xs-2xs: clamp(0.25rem, 0.0357rem + 1.0714vw, 1rem);
  --sp-2xs-xs: clamp(0.5rem, 0.2143rem + 1.4286vw, 1.5rem);
  --sp-xs-s: clamp(0.75rem, 0.3929rem + 1.7857vw, 2rem);
  --sp-s-m: clamp(1rem, 0.4286rem + 2.8571vw, 3rem);
  --sp-m-l: clamp(1.5rem, 0.7857rem + 3.5714vw, 4rem);
  --sp-l-xl: clamp(2rem, 0.8571rem + 5.7143vw, 6rem);
  --sp-xl-2xl: clamp(3rem, 1.5714rem + 7.1429vw, 8rem);
  --sp-2xl-3xl: clamp(4rem, 1.7143rem + 11.4286vw, 12rem);

  /*Custom pairs*/
  --sp-s-l: clamp(1rem, 0.1429rem + 4.2857vw, 4rem);

  --margin: 0 var(--sp-m);

  /*-- shadows --*/
  --shadow-s: 0px 0px 16px 0px rgba(22, 33, 19, 0.25);

  /*-- rounded corners --*/
  /*code: r = rounded, n=not rounded leesrichting: tl - tr - bl - br */
  --fluid-radius: clamp(0.3125rem, 0.2232rem + 0.4464vw, 0.625rem);

  --rrrr: 1rem;
  --rrrr-s: var(--fluid-radius);

  --nrrr: 0.125rem 1rem 1rem 1rem;
  --rnrr: 1rem 0.125rem 1rem 1rem;
  --rrnr: 1rem 1rem 1rem 0.125rem;
  --rrrn: 1rem 1rem 0.125rem 1rem;

  --nrnn: 0 var(--fluid-radius) 0 0;
  --nnnr: 0rem 0rem var(--fluid-radius) 0;
  --rrnn: var(--fluid-radius) var(--fluid-radius) 0 0;
  --nnrr: 0 0 var(--fluid-radius) var(--fluid-radius);
  --rnrn: var(--fluid-radius) 0 0 var(--fluid-radius);
  --nrnr: 0 var(--fluid-radius) var(--fluid-radius) 0;

  /*-- borders --*/
  --border: 1px solid var(--color-black);

  /*-- maximum page width --*/
  --max-width-page: 90rem;

  /*--- fonts ---*/
  --serif: garamond-premier-pro, serif;
  --sans-serif: forma-djr-text, sans-serif;
  --write: pf-scandal, sans-serif;

  /*font-feature settings*/
  --ff-ss: 'ss04' on;
}

/*-- basic css --*/
html {
  box-sizing: border-box;
  scroll-behavior: instant;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
picture {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: var(--sans-serif);
  font-feature-settings: var(--ff-ss);
  font-size: var(--fs-0);
  color: var(--color-black);
  font-weight: 400;
  letter-spacing: 0.03rem;

  overflow-x: hidden;
  max-width: var(--max-width-page);
  margin: 0 auto;

  background-color: var(--color-white);

  /*main settings bg-images*/
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  container-type: inline-size;
}

a {
  text-decoration: none;
}

/*---------- overall css ----------*/
/*--- overlay ---*/
.overlay-nav {
  opacity: 0.5;
  filter: blur(15px);
  z-index: 1;
}

.no-overlay {
  filter: none;
  opacity: 1;
  z-index: 1000;
}

/*--- button ---*/
.button {
  color: var(--color-green);
  font-family: var(--serif);
  font-size: var(--fs-3);
  font-style: italic;
  font-weight: 700;
  line-height: normal;

  border: none;
  padding: var(--sp-2xs) var(--sp-s);
  border-radius: var(--rrrr-s);
  box-shadow: var(--shadow-s);

  transition:
    box-shadow 0.3s,
    background-image 0.3s,
    background-color 0.3s,
    rotate 2s;

  background-size: cover;
  background-repeat: no-repeat;
}

.button.bleu {
  background-color: var(--color-blue);
  background-image: var(--bg-blue-100);
  background-size: cover;
}

.button.green {
  background-color: var(--color-green);
  background-image: var(--bg-green-30);
  background-size: cover;
}

.button.purple {
  background-color: var(--color-purple);
  background-image: var(--bg-purple-30);
}

.button.white {
  background-color: var(--color-white);
  background-image: var(--bg-white-100);
}

.button.orange {
  background-color: var(--color-orange);
  background-image: var(--bg-orange-50);
}

.no-shadow {
  box-shadow: none;
}

@media (hover: hover) {
  .button.bleu:hover {
    background-color: var(--color-blue);
  }

  .button.green:hover {
    background-color: var(--color-green);
  }

  .button.purple:hover {
    background-color: var(--purple-hover);
  }

  .button.white:hover {
    background-color: var(--green-white-hover);
  }

  .button.orange:hover {
    background-color: var(--orange-hover);
  }

  .button:hover {
    box-shadow: none;
    background-image: none;
  }
}

/*-- titles ---*/
.titles__title {
  height: 100vh;
  text-align: center;

  display: grid;
  grid-template-rows: repeat(2, 1fr);

  padding: var(--margin);

  /* background-image: var(--bg-white-20); */
  overflow: hidden;
}

.section__title {
  font-family: var(--serif);
  font-style: italic;
  font-weight: 700;
  font-size: var(--fs-6);
  align-self: end;
}

.section__subtitle,
.subsection__title {
  font-family: var(--serif);
  font-size: var(--sp-m);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

/*--- part intro ---*/
.has-js .titles {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  background-image: var(--bg-white-20);
}

.has-js .titles__title {
  grid-row: 1;
  grid-column: 1;
}

.has-js .gossip {
  grid-row: 1;
  grid-column: 1;

  z-index: 1;

  overflow: hidden;
}

/*-- texts --*/
.text {
  padding: var(--margin);
}

@container (min-width: 39rem) {
  .text__content {
    column-count: 2;
  }
}

/*texts paper border */
.paper-border {
  position: relative;
  padding: 40px 0;
  overflow: hidden;
}

.paper-border .text {
  color: var(--color-white);
}

.paper-border::before {
  position: absolute;
  top: 1px;
  padding: 0;
}

.paper-border::after {
  position: absolute;
  bottom: 1px;
  padding: 0;

  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.paper-border.orange .text {
  background-image: var(--bg-orange-50);
}

.paper-border.orange::before,
.paper-border.orange::after {
  content: var(--bg-border-orange);
}

.paper-border.purple .text {
  background-image: var(--bg-purple-30);
}

.paper-border.purple::before,
.paper-border.purple::after {
  content: var(--bg-border-purple);
}

.paper-border.green .text {
  background-image: var(--bg-green-30);
}

.paper-border.green::before,
.paper-border.green::after {
  content: var(--bg-border-green);
}

/* */
.text__title {
  /* subtitle/smartphone */
  font-family: var(--serif);
  font-size: var(--fs-3);
  font-weight: 700;
  line-height: normal;
}

.content__paragraph {
  line-height: 120%;
}

.text__title+.content__paragraph,
.text__title+.text__content {
  margin-top: var(--sp-s);
}

.content__paragraph~.content__paragraph {
  margin-top: var(--sp-xs);
}

/*-- extra info --*/
.extra-info {
  max-height: 100dvh;
  /* width: min(100%, 90rem); */
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
  /* overflow: hidden; */
  background-size: cover;

  padding: var(--sp-l) 0;
  padding-right: var(--sp-s);

  position: absolute;
  z-index: 100;
  overflow: hidden;
}

/* .aside__title {
  display: none;
} */

.aside__source {
  font-family: var(--serif);
  padding-top: var(--sp-s);
}

.aside__titleside {
  color: var(--color-white);
  font-family: var(--serif);
  font-size: var(--fs-1);
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-align: center;

  background-image: var(--bg-orange-100);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: var(--sp-2xs) var(--sp-s);
  border-radius: var(--nrnr);

  display: flex;
  gap: var(--sp-xs);
  justify-items: center;
  align-items: center;

  box-shadow: var(--shadow-s);
}

.aside__titleside img,
.aside__titleside picture {
  height: min(var(--fs-5), 3rem);
}

.aside__text {
  padding: var(--sp-m) var(--sp-s);
  background-color: var(--color-white);
  overflow: hidden;
  border-radius: var(--nnnr);

  overflow: scroll;
  box-shadow: var(--shadow-s);
  z-index: -1;
}

.aside__content {
  line-height: 120%;
}

.aside__title+.aside__content {
  margin-top: 0;
}

@media (min-width: 35rem) {
  /* .extra-info {
    grid-template-rows: 80dvh;
    grid-template-columns: calc(100% - 4rem) 4rem;
    padding: 0;
  }

  .aside__titleside {
    writing-mode: vertical-lr;
    grid-column: 2;
    justify-self: center
  } */
}

/*--- subsection ---*/
.subsection__titles {
  padding: var(--sp-s);
}

.subsection__title+.subsection__subtitle {
  margin-top: var(--sp-2xs);
}


/* calvinsitische ketter */
.balance {
  height: 100vh;
  background-color: #C8B8F7;
}

/*---------- vennootschap / company ----------*/
.new-start {
  /*geen idee maar er was anders iets mis met de border...*/
  margin-top: -1px;
  padding-top: 1px;

  background-image: var(--bg-green-30);
}


/*---------- the polyglot bible ----------*/
/*--- royal titles ---*/

@media (min-width: 35rem) {
  .royal-titles {
    display: grid;
    grid-template-columns: 40% 60%;

    align-items: center
  }
}

@media (min-width: 40rem) {
  .royal-titles {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 63rem) {
  .royal-titles {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}

/*---------- outro ----------*/
/* .outro--part2 {
  height: 100vh;
  background-image: var(--bg-green-30);
  display: grid;
  align-items: center;
}

.outro--part2 .outro__text {
  color: var(--color-white);
}

.outro--part2 .outro__text p {
  padding-bottom: var(--sp-xl);
}

.button--outro {
  background-image: var(--bg-white-30);
} */

/*---------- footer ----------*/
/* .footer {
  height: 100vh;
  background-image: var(--bg-green-30);
  padding: var(--sp-s);
  gap: var(--sp-s);
  display: grid;
  grid-template-rows: 1fr min-content;
}

.stories,
.footer__footer {
  background-image: var(--bg-white-30);
  padding: var(--sp-xs);
  border-radius: var(--rrrr-s);
}

.stories__title {
  text-align: center;
  font-family: var(--serif);
  font-size: var(--fs-3);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

  padding: var(--sp-l) 0;
}

.footer__footer {
  display: grid;
  grid-template-rows: 3rem min-content;
  justify-items: center;
  gap: var(--sp-2xs);
}

.logo {
  height: 100%;
}

.footer__text {
  text-align: center;
  font-family: var(--sans-serif);
  font-size: var(--fs--1);
  line-height: 120%;
}

.footer__text a {
  color: var(--color-black);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 8%;
  text-underline-offset: 12%;
  text-underline-position: from-font;
} */

/* ----- gsap chizzle -------*/
.pin {
  position: fixed;
  z-index: 10;
  width: var(--max-width-page);
  margin: 0;
  padding: 0;
}

.has-js .navigation.pin {
  position: fixed;
}

.light-switch__button--transparant {
  opacity: 0%;
  z-index: 2;
}

.overlay-light {
  opacity: 100;
  filter: blur(0px);
  z-index: 1;
}

.intro {
  overflow: hidden;
}

.hammer__text {
  display: flex;
}

.position-fixed {
  top: 0;
  position: fixed;
  width: min(100%, 90rem);
  z-index: 10;
}

.royal-titles__extra-info {
  align-self: start;
  padding-top: 0;
  position: absolute;
}

.royal-titles {
  margin-top: var(--sp-3xl);
}

/* ------------------------------------------------------ */
.hidden {
  display: none;
}